@use '../custom' as *;
@use '../components/mixins' as *;
.menu {
	@include gradient;
	.navbar-brand {
		color: $white;
		font-weight: 400;
		font-size: 1.8rem;
		letter-spacing: -2px;
	}
	li {
		padding: 0 0.7rem;

		a {
			text-transform: capitalize;
			font-weight: 600;
		}
	}
}
